<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${spring.application.name:-application}"}</customFields>
            <fieldNames>
                <trace>traceId</trace>
                <span>spanId</span>
            </fieldNames>
            <providers>
                <timestamp/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <logLevelValue/>
                <mdc/>
                <message/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>